<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do-App</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body class="bg-gradient-to-r from-purple-400 to-pink-400 font-poppins">
    <header>
        <div class="flex items-center justify-between m-8">
            <div class="flex flex-col">
                <div class="flex">
                    <h1 class="font-bold text-white text-xl sm:text-4xl md:text-5xl">
                        <%=salutation%>
                    </h1>
                    <span class="text-2xl sm:text-3xl md:text-5xl">
                        <%=emoji%>
                    </span>
                </div>
                <h2 class="font-bold text-white text-lg sm:text-2xl">
                    <%=date%>
                </h2>
            </div>
            <div class="flex flex-col font-bold text-white text-lg sm:text-2xl">
                <h2>
                    <%=day%>
                </h2>
            </div>
        </div>
    </header>
    <main>
        <div class="bg-white flex flex-col items-center mx-auto my-16 py-10 rounded-lg shadow-lg w-80 sm:w-96">
            <div class="bg-gradient-to-r from-purple-400 to-pink-400 border border-purple-300 flex justify-center mt-0 mb-1 p-2 rounded-lg shadow-md w-64 sm:w-80">
                <span class="">
                <form method="POST" action="/change-date">
                    <input name="dateToQuery" type="date" value="<%=datePickerDefault%>" class="bg-gradient-to-r from-purple-400 to-pink-400 outline-none font-bold text-white text-sm sm:text-2xl" onchange="this.form.submit()">
                </form>
            </div>
            
            <% for(let i = 0; i < todoItems.length; i++) { %>
                <div class="border border-purple-100 flex justify-between items-center mt-3 p-3 rounded-lg shadow-sm w-64 sm:w-80 hover:bg-gradient-to-r from-pink-400 to-purple-400 hover:text-white transition ease-in-out delay-50 duration-200">
                    <div>
                        <form method="POST" action="/mark-unmark">
                            <input type="checkbox" class="accent-pink-500 cursor-pointer" id="checkbox-<%=i%>" onchange="this.form.submit()"
                                <%if(todoItems[i].isChecked) {%>
                                    checked
                                <%}%>    
                            >
                            <label for="checkbox-<%=i%>" class="cursor-pointer font-bold mx-2 text-xs sm:text-sm"><%=todoItems[i].name%></label>
                            <input type="hidden" name="checkbox" value="<%=i%>">
                        </form>
                    </div>
                    <div class="h-4">
                        <form method="POST" action="/delete-to-do">
                            <button type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                                <input type="hidden" name="deleteTodo" value="<%=todoItems[i]._id%>">
                            </button>
                        </form>
                    </div>
                </div>                
            <% } %>

            <form method="POST" action="/">
                <div class="flex justify-between items-center mt-5 w-64 sm:w-80">
                    <input type="text" class="border-b-4 border-purple-500 font-bold h-12 w-5/6 px-2 shadow-inner text-purple-500 text-xs sm:text-sm focus:outline-none" name="newToDo" placeholder="Type a todo..." required>
                    <button type="submit" class="bg-purple-400 font-bold h-10 w-10 sm:h-12 sm:w-12 rounded-full shadow-lg text-white transition ease-in-out delay-50 hover:scale-110">+</button>
                </div>
            </form>

        </div>
    </main>

    <footer>
        <div class="bg-white fixed bottom-0 p-2 text-center w-full">
            <span>Made with ❤️ by <a href="https://twitter.com/harshj_11" class="link" target="_blank">Harsh</a></span>
        </div>
    </footer>
</body>
</html>